PORT=8080
DATABASE_URL=postgresql://postgres:iamafzal@localhost:5432/authentication
REDIS_URL=redis://localhost:6379


JWT_ACCESS_SECRET=422be5eb472f6f438b9d30e913674edf8cd789d78374b3d53d687531dffa0864
JWT_ACCESS_EXPIRES_IN=15m

JWT_REFRESH_SECRET=bad22dddc1e2599901d568881794414963b678c4c97ec0558008061b1fbea119305603bb934ea973db6fee786bed0be0
JWT_REFRESH_EXPIRES_IN=7d

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=<your_email_id>
SMTP_PASS=<your_app_password>
EMAIL_FROM="XYZ Company Support <mdafzal14777@gmail.com>"